// color
$base-color: #293caa;
$btn-color: #435fff;
$btn-color-hover: #1445a0;
$text-color: #fff;
$selected: #d5d5d5;
$error: #eb0712;

// width
$border-radius: 25px;
$img-width: 300px;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// also
$box-shadow-hover: rgba(0, 0, 0, 0.35) 0px 10px 15px;
$transition: 0.5s linear;
